.foodfull {
    min-height: 600px;
}

.menu2 {
    margin-top: 30px;
    height: 80px;
}

.menu2 ul {
    list-style: none;
}

.menu2 ul li {
    float: left;
    padding-left: 65px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}

.foodboxinner {
    border-radius: 30px;
    margin-left: 60px; 
    transition: 0.4s;
}

.foodboxinner:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.up {
    height: 200px;
    background: #f1f2f3;
    padding-top: 30px;
}

.Img1,
.Img2,
.Img3,
.Img4,
.Img5,
.Img6,
.Img7,
.Img8,
.Img9 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
}

.Img1 {
    height: 140px;
    width: 140px;
    background-image: url(../assets/f1.png);
    transform: translateX(90px);
}

.Img2 {
    height: 130px;
    width: 180px;
    background-image: url(../assets/f2.png);
    transform: translateX(70px);
}

.Img3 {
    height: 140px;
    width: 140px;
    background-image: url(../assets/f3.png);
    transform: translateX(90px);
}

.Img4 {
    height: 90px;
    width: 160px;
    background-image: url(../assets/f4.png);
    transform: translateX(90px);
}

.Img5 {
    height: 110px;
    width: 150px;
    background-image: url(../assets/f5.png);
    transform: translateX(70px);
}

.Img6 {
    height: 120px;
    width: 120px;
    background-image: url(../assets/f6.png);
    transform: translateX(80px);
}

.Img7 {
    height: 140px;
    width: 170px;
    background-image: url(../assets/f7.png);
    transform: translateX(90px);
}

.Img8 {
    height: 140px;
    width: 170px;
    background-image: url(../assets/f8.png);
    transform: translateX(90px);
}

.Img9 {
    height: 130px;
    width: 180px;
    background-image: url(../assets/f9.png);
    transform: translateX(70px);
}

.foodboxinner:hover .Img1 {
    transform: translateX(90px) scale(1.2);
}

.foodboxinner:hover .Img2 {
    transform: translateX(70px) scale(1.2);
}

.foodboxinner:hover .Img3 {
    transform: translateX(90px) scale(1.2);
}

.foodboxinner:hover .Img4 {
    transform: translateX(90px) scale(1.2);
}

.foodboxinner:hover .Img5 {
    transform: translateX(70px) scale(1.2);
}

.foodboxinner:hover .Img6 {
    transform: translateX(80px) scale(1.2);
}

.foodboxinner:hover .Img7 {
    transform: translateX(90px) scale(1.2);
}

.foodboxinner:hover .Img8 {
    transform: translateX(90px) scale(1.2);
}

.foodboxinner:hover .Img9 {
    transform: translateX(70px) scale(1.2);
}

.food-text {
    background: #222831;
    color: white;
    height: 220px;
    padding-top: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
}

.cart {
    margin-left: 220px;
    font-size: 30px;
}